@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,700;1,6..12,700&family=PT+Serif:ital,wght@0,700;1,400&display=swap");

@media (min-width: 375px) {
  .header {
    width: 375px;
    height: 125px;

    .up-board {
      width: 100%;
      height: 55px;
      background-color: #0c4b35;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        width: 90%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .row {
          width: 100px;
          height: 25px;
          display: flex;
          justify-content: space-around;
          .main {
            button {
              width: 20px;
              height: 20px;

              img {
                width: 100%;
                height: 100%;
              }
            }
            .p {
              display: none;
            }
          }
        }
      }
    }
  }
  .down-board {
    width: 375px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .row-2 {
      width: 345px;
      height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .plants {
        width: 90px;
        height: 40px;
        font-size: 35px;
      }
      .navAndCall {
        width: 110px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
          display: none;
        }
        .callUs {
          width: 40px;
          height: 35px;
          background-color: #00730C;
          border-radius: 10px;
          display: flex;
          justify-content: center;
          align-items: center;

          p {
            display: none;
          }
        }
        .third {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
@media (min-width: 1410px) {
  .header {
    width: 1410px;
    height: 144px;

    .up-board {
      width: 100%;
      height: 59px;
      background-color: #0c4b35;
      display: flex;
      justify-content: center;
      align-items: center;

      .container {
        width: 80%;
        height: 25px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .row {
          width: 739px;
          height: 25px;
          display: flex;
          justify-content: space-around;
          align-items: center;

          .main {
            button {
              width: 25px;
              height: 25px;

              img {
                width: 100%;
                height: 100%;
              }
            }
            .p {
              color: white;
              line-height: 25px;
              display: initial;
              font-size: 14px;
            }
          }
          .email {
            width: 281px;
            height: 25px;
            display: flex;
            justify-content: space-between;
          }
          .tell {
            width: 130px;
            height: 25px;
            display: flex;
            justify-content: space-between;
          }
          .adress {
            width: 268px;
            height: 25px;
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
  }
  .down-board {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    .row-2 {
        width: 79%;
        height: 55px;
        display: flex;
        justify-content: space-between;

        .plants {
            font-size: 40px;
            width: 120px;
            height: 55px;
            line-height: 55px;
            text-align: center;
        }
        .navAndCall {
            width: 897px;
            height: 55px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            
            .nav {
                width: 629px;
                height: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center; 
                li {
                    font-size: 16px;
                    &:hover {
                        color: #00730C;
                    }
    
                }
            }
            .callUs {
                width: 170px;
                height: 50px;
                background-color: #00730C;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 35px;
                color: white;
                font-size: 18px;
                p {
                  display: initial;
                }
            }
            .third {
              display: none;
            }
        }
    }
  }
  .hero {
    width: 1410px;
    height: 719px;
    background: linear-gradient(to right, rgb(98, 221, 98), white 80%);
    display: flex;
    align-items: end;

    .landscape {
      width: 600px;
      height: 486px;
    }

    .foto-hero {
      width: 800px;
      height: 619px;
    }
  }
}